/* IE 6 CSS */
#rightCol{ background: #d6d4c3; float:right; margin-bottom: 15px; padding:0 0 0 0px; width:395px;}
#rightContent{ background: #d6d4c3; float:right; display:inline; margin-bottom: 15px; padding:0 0 0 0px; width:320px;}
#uber_wrapper{position:relative; }
#wrapper{position:relative;height: 1%;}
table img{padding: 4px;}
ul#filter { font-family: helvetica; }
h4{font-family: Helvetica;}
#content{ height: 400px;}
#rankTab:hover, #rankTab:focus, #rankTab:active {background-position: 0 0px;}
#twitter_div li a {word-wrap: break-word;}
#profileContainer { float: left;}
#teams_comp li { display: inline;}
#scheduleContainer{ width: 415px; margin: 5px 10px 0 30px; padding: 20px 0 0 0; font-family: Helvetica, Arial, sans-serif;}
#scheduleContainer h3{margin: 15px 0 5px 0;}
.scheduleLeft{ width: 88px; float: left; padding-left: 10px;}
.scheduleCenter{ width: 175px; float: left;}
.scheduleRight { white-space: 120px; float: left;}