/*IE7 CSS*/
#uber_wrapper{overflow: visible;}
#slideshow {width: 850px; height: 425px;}
table img{padding: 4px;}
ul#filter { font-family: helvetica; }
h4{font-family: Helvetica;}
#twitter_div li a {word-wrap: break-word;}
#scheduleContainer{ width: 415px; margin: 5px 10px 0 30px; padding: 20px 0 0 0; font-family: Helvetica, Arial, sans-serif;}
#scheduleContainer h3{margin: 15px 0 5px 0;}
.scheduleLeft{ width: 88px; float: left; padding-left: 10px;}
.scheduleCenter{ width: 175px; float: left;}
.scheduleRight { white-space: 120px; float: left;}
#addThis li { padding:2px 0 6px; }