/* Ranger CSS*/

/* 1. Reset
------------------------------------*/
html, img, div {}
/* Normalizes margin, padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td  { margin : 0; padding : 0; }
/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size : 100%; font-weight:normal; }
/* Removes list-style from lists */
ol,ul { list-style : none;}
/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, em, strong, th, var { font-style : normal; font-weight : normal; }
/* Removes list-style from lists */
table { border-collapse : collapse; border-spacing : 0; }
/* Removes border from fieldset and img */
fieldset,img { border : 0; }
/* Left-aligns text in caption and th */
caption,th { text-align : left; }
/* Removes quotation marks from q */
q:before, q:after { content :''; }

/* 2. Elements
------------------------------------*/
html { background:#595b4b;}
body { color: #383328; font: 0.75em/140% Helvetica, Arial, sans-serif; }
a {color: #383328; text-decoration: underline; outline: 0;}
a:hover, a:focus, a:active { text-decoration:none; color:#595b4b; outline: 0;}
h1,h2,h3,h4,h5,h6 {font-weight: bold;}
p { font-size:12px; line-height:1.4em; margin-bottom: 10px; }
h2 {text-indent: -9999px;}
h3{font-size: 14px;}
h4{font-family: Courier; font-size: 24px; margin-bottom: 10px; margin-top: 10px;}

/* 3. ID's
------------------------------------*/
#uber_wrapper{ position: relative; background:#595b4b url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/bg/bg_gradient.jpg) top center repeat-x;}
#wrapper{ background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/bg/bg_splat.jpg) no-repeat top center;}
#container{position: relative; margin: 0 auto; width: 850px; background: #d6d4c3; /*overflow: auto;*/}
#header{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/header/header.jpg); width: 100%; height: 170px; position: relative;}
#rankTab {background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/team_rankings.png) no-repeat; height: 45px; width: 210px; display: block; position: absolute; z-index: 1000; right: -12px;}
#rankTab:hover, #rankTab:focus, #rankTab:active {background-position: 0 -45px;}
#army_logo a{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/header/army_logo.jpg) no-repeat; display: block; width: 80px; height: 90px; text-indent: -9999px; top: 41px; position: relative;  outline: 0;}
#navigation{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/navigation/nav.jpg); display: block; width: 645px; height: 45px; text-indent: -9999px; position: relative; top: 12px; left: 80px;}
#navigation li {float: left}
#navigation a{text-indent: -9999px; display: block; height: 45px;  outline: 0;}
#btn_home{width: 60px; background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/navigation/nav.jpg) no-repeat 0 0;}
#btn_home:hover, #btn_home:focus, #btn_home:active, #btn_home.selected{background-position: 0 -45px;}
#btn_competition{width: 150px; background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/navigation/nav.jpg) no-repeat -60px 0;}
#btn_competition:hover, btn_competition:focus, #btn_competition:active, #btn_competition.selected{background-position: -60px -45px;}
#btn_news{width: 125px; background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/navigation/nav.jpg) no-repeat -210px 0;}
#btn_news:hover, #btn_news:focus, #btn_news:active, #btn_news.selected{background-position: -210px -45px;}
#btn_competitors{width: 170px; background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/navigation/nav.jpg) no-repeat -335px 0;}
#btn_competitors:hover, #btn_competitors:focus, #btn_competitors:active, #btn_competitors.selected{background-position: -335px -45px;}
#btn_about{width: 140px; background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/navigation/nav.jpg) no-repeat -505px 0;}
#btn_about:hover, #btn_about:focus, #btn_about:active, #btn_about.selected{background-position: -505px -45px;}
.slideshow{width: 850px; height: 425px; margin: 0; padding: 0;}
.slideshow img{top: 0; left: 0;}
#content{ width: 810px; margin: 0 auto; min-height: 400px;}
#leftCol{ float:left; display:inline; padding:0 10px 0 0; width:395px; margin-bottom: 15px;}
#rightCol{ background: #d6d4c3; float:right; display:inline; margin-bottom: 15px; padding:0 0 0 10px; width:395px;}
#leftContent{float:left; display:inline; padding:0 10px 0 0; width:470px; margin-bottom: 15px;}
#rightContent{ background: #d6d4c3; float:right; display:inline; margin-bottom: 15px; padding:0 0 0 10px; width:320px;}
#creed{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/creed.jpg) no-repeat; padding-bottom: 10px;}
#creed p{margin-bottom: 0;}
#footer{margin: 0 auto; overflow: hidden; width: 100%; height: 253px; background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/footer/footer_big.jpg) no-repeat bottom center; min-width: 850px;}
#footer p {text-align: center; font-size: 11px; color: #595b4b; margin-top: 20px; margin-right: 100px; }
#footer a {font-size: 11px; color: #595b4b; text-decoration: none;  outline: 0;}
#footer a:hover, #footer a:focus, #footer a:active {text-decoration: underline; color: #9b8c6f;  outline: 0;}
#map { border: 1px solid #383328; margin: 0 0 20px 0; width: 395px; height: 299px;}
#twitter_div { background: none repeat scroll 0 0 #EEECE0; border: 1px solid #A09D90; overflow-x: hidden; padding-left: 10px; width: 375px; }
#twitter_div a { color: #595B4B; font-weight: bold; padding: 5px 10px 10px; }
#moreTweetsBtn {background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/more_tweets_btn.gif) no-repeat; display: block; height: 33px; margin-bottom: 8px; width: 395px;}
#PlayerContainer {background:#f1efe6;border:1px solid #a09d90;float:left;width:318px;margin-bottom:20px;}
#PlayerContainer p {background:#f1efe6;}
#PlayerContainer p a {font-weight: bold; text-decoration: none;margin:5px 5px 5px 5px; outline: 0;}
#schedule{width: 470px; height: 700px; background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/schedule.jpg) no-repeat;}
#scheduleContainer{ width: 415px; height: 600px; margin: 0 0 0 30px; padding: 20px 0 0 0; font-family: Courier, Times, serif;}
#scheduleContainer h3{margin: 15px 0 5px 0;}
.scheduleLeft{ width: 88px; float: left; padding-left: 10px;}
.scheduleCenter{ width: 175px; float: left;}
.scheduleRight { width: 120px; float: left;}
ul#filter { font-family: Courier; float: left; font-size: 13px; list-style: none; margin-left: 0; margin-bottom: 10px; width: 100%; }
ul#filter li { border-right: 1px solid #a09d90;float: left;line-height: 16px;margin-right: 3px;padding-right: 3px;}
ul#filter li:last-child { border-right: none; margin-right: 0; padding-right: 0; }
ul#filter a { color: #383328; text-decoration: none; padding-left: 5px; padding-right: 5px; }
ul#filter a:hover, ul#filter a:focus, ul#filter a:active { text-decoration: underline; }
ul#filter li.current a { color: #d6d4c3; background: #383328}
ul#teams { float: left; list-style: none; margin-left: 0; width: 810px; }
ul#teams li { float: left;width: 395px; height: 170px;}
ul#teams li p.teamnumber{ font-family: "Arial Black"; font-size: 12px; width: 25px; position: relative; left: 68px; top: 11px;}
ul#teams li h3.first_profileH3{ position: relative; top: 8px; left: 120px; font-size: 12px; width: 157px;}
ul#teams li h3.first_profileH3{ position: relative; top: 12px; left: 120px; font-size: 12px; width: 157px;}
ul#teams li p.first_profileP{ position: relative; top: 8px; left: 120px; font-size: 11px; width: 150px;}
ul#teams li h3.second_profileH3{ position: relative; top: 8px; left: 120px; font-size: 12px; text-align: right; width: 157px;}
ul#teams li p.second_profileP{position: relative; top: 8px; left: 127px; font-size: 11px; text-align: right; width: 150px;}
ul#teams_comp{float: left; list-style: none; margin-left: 0; width: 395px; }
ul#teams_comp li { float: left;width: 395px; height: 170px;}
ul#teams_comp li p.teamnumber{font-family: Courier, Georgia, Serif; font-weight: bold; font-size: 14px; width: 25px; position: relative; left: 68px; top: 11px;}
ul#teams_comp li h3.first_profileH3{ position: relative; top: 8px; left: 120px; font-size: 12px; width: 157px;}
ul#teams_comp li p.first_profileP{ position: relative; top: 8px; left: 120px; font-size: 11px; width: 150px;}
ul#teams_comp li h3.second_profileH3{ position: relative; top: 8px; left: 120px; font-size: 12px; text-align: right; width: 157px;}
ul#teams_comp li p.second_profileP{position: relative; top: 8px; left: 127px; font-size: 11px; text-align: right; width: 150px;}

/* 4. Competitors
------------------------------------*/
#one{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/1.jpg) no-repeat;}
#two{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/2.jpg) no-repeat;}
#three{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/3.jpg) no-repeat;}
#four{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/4.jpg) no-repeat;}
#five{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/5.jpg) no-repeat;}
#six{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/6.jpg) no-repeat;}
#seven{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/7.jpg) no-repeat;}
#eight{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/8.jpg) no-repeat;}
#nine{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/9.jpg) no-repeat;}
#ten{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/10.jpg) no-repeat;}
#eleven{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/11.jpg) no-repeat;}
#twelve{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/12.jpg) no-repeat;}
/*no thirteen*/
#fourteen{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/14.jpg) no-repeat;}
#fifteen{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/15.jpg) no-repeat;}
#sixteen{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/16.jpg) no-repeat;}
#seventeen{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/17.jpg) no-repeat;}
#eighteen{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/18.jpg) no-repeat;}
#nineteen{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/19.jpg) no-repeat;}
#twenty{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/20.jpg) no-repeat;}
#twentyone{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/21.jpg) no-repeat;}
#twentytwo{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/22.jpg) no-repeat;}
#twentythree{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/23.jpg) no-repeat;}
#twentyfour{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/24.jpg) no-repeat;}
#twentyfive{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/25.jpg) no-repeat;}
#twentysix{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/26.jpg) no-repeat;}
#twentyseven{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/27.jpg) no-repeat;}
#twentyeight{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/28.jpg) no-repeat;}
#twentynine{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/29.jpg) no-repeat;}
#thirty{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/30.jpg) no-repeat;}
#thirtyone{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/31.jpg) no-repeat;}
#thirtytwo{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/32.jpg) no-repeat;}
#thirtythree{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/33.jpg) no-repeat;}
#thirtyfour{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/34.jpg) no-repeat;}
#thirtyfive{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/35.jpg) no-repeat;}
#thirtysix{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/36.jpg) no-repeat;}
#thirtyseven{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/37.jpg) no-repeat;}
#thirtyeight{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/38.jpg) no-repeat;}
#thirtynine{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/39.jpg) no-repeat;}
#fourty{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/40.jpg) no-repeat;}
#fourtyone{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/41.jpg) no-repeat;}
#fourtytwo{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/42.jpg) no-repeat;}
#fourtythree{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/43.jpg) no-repeat;}
#fourtyfour{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/44.jpg) no-repeat;}
#fourtyfive{background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/2010/pictures/teams/45.jpg) no-repeat;}
#schedule_table td{ padding: 0 2px;}

/* 4. Classes
------------------------------------*/
.right {float: right;}
.left{float: left;}
.clear{clear: both;}
.bold{font-weight: bold;}
.hide{position: absolute;left:-10000px;top:auto;width: 1px;height: 1px;overflow: hidden;}
.hide a, .hide a:hover, .hide a:visited {position: absolute;left:-10000px;top:auto;width: 1px;height: 1px;overflow: hidden;}
.slideshow {width: 850px; height: 425px; padding: 0; margin: 0;}
.slideshow img{top: 0; left: 0;}
.storyBlock { clear: both; border-bottom: 1px solid #a09d90; float: left; margin-bottom: 15px; padding-bottom: 11px;}
.storyBlock h3 a {text-decoration: none;  outline: 0;}
.storyBlock .left {float: left;}
.storyBlock img {border: 1px solid #383328;}
.storyBlock .right { width: 65%; float: right;}
.largerh3{font-size: 14px;}
.uppercase {text-transform: uppercase;}
.ropeRanger {position: relative; left: -20px; overflow: none;}

/* skip nav */
.skip a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #3d3d3d;} 
.skip a:active, .skip a:focus { background: #dad5b8; position: static; width: auto; height: auto; padding: 1em; margin: auto;}

/* --- addThis (Bookmark & Share Box) Styles --- */
#addThisTopRight { float:right; }
#addThis #linkBack { color:#fff; display:inline; float:right; font-weight:normal; margin-bottom:-28px; position:relative; top:-20px; right:35px; }
#addThis a,#articleFooter a { outline:0; text-decoration:none; }
#addThis h2 { margin:0; padding:0 10px; display:none; }
#addThis { font-size:12px; min-width:520px; max-width:1200px; width:100%; z-index:1000; }
#addThis ul { display:block; float:left; margin:5px; width:100%; padding:0; list-style:none; }
#addThis ul#moreShare { display:none; }
#addThis li { background:none; float:left; margin:2px 0; padding:0; width:19.5%; }
#addThis ul#tops li { width:16%; }
#addThis li:hover, #addThis li:focus, #addThis li:active { background:#595B4B; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
#addThis li:hover, #addThis li:focus, #addThis li:active, #share, #shareClose,.all { cursor:pointer; }
#share:hover, #share:focus, #share:active { color:#fff; }
#share .textLink { cursor:pointer; display:block; font-weight:normal; line-height:18px; margin-left:24px; width:300px; }
#shareClose { display:inline; float:right; position:relative; margin-bottom:-28px; top:-28px; }
.facebook { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
#articleFooter,#iconStrip { font-family:Verdana, Arial, Sans-serif; float:left; font-size:10px; min-width:520px; max-width:1200px; width:100%; }
#iconStrip { display:none; float:left; height:28px; padding:3px 0; }
#iconStripLeft { float:left; }
#iconStripRight { float:right; }
#iconStripRight a { float:left; line-height:18px; margin:5px 10px 0 0; }
#iconStripRight .textLink { font-weight:bold; }
#share { background:url(http://usarmy.vo.llnwd.net/e1/rv4_images/icon_sprites.gif) 0 -361px no-repeat; }
#shareClose { background:url(http://usarmy.vo.llnwd.net/e1/rv4_images/icon_sprites.gif) 0 -380px no-repeat; display:none; }
.article_sprite { display:block; float:left; height:19px; margin:5px; width:19px; }
.block { clear:both; color:#fff; font-size:11px; height:26px; line-height:26px; padding-left:10px; text-transform:uppercase; }
.dark-gray { }
.gray_text { color:#b4b4b4; }
.icon_sprite { display:block; float:left; height:19px; margin:0 4px; width:19px; }
.share_sprite { display:inline; float:left; height:16px; margin:4px; width:16px; }
.share_sprite:hover, .share_sprite:focus, .share_sprite:active { color:#D6D4C3; }
#tops .share_sprite .textLink { width:80px; }
.share_sprite .textLink { display:block; font-weight:normal; line-height:22px; margin-left:21px; height:24px; width:110px; position:relative; top:-4px; }
.share_sprite .textLink:hover, .share_sprite .textLink:focus, .share_sprite .textLink:active { color:#D6D4C3; cursor:pointer; }
#socialBox { overflow:hidden; width:830px;  margin:0 auto; padding-left: 20px; background: #D6D4C3; }

#header { position:relative;}
#socialButtons { position:relative; right:-37px; top: 60px;}
#socialButtons #plusContain, #socialButtons #likeContain { float:right; clear:none; margin-right: 0;}

/* 5. Print
------------------------------------*/

/* 6. Handheld
------------------------------------*/

/* 7. Debug
------------------------------------*/

/* Un-comment for site testing
*[style], font, center {outline: 5px solid red;}
img[alt=""] {border: 3px solid red;}
img[title=""] {border: 3px dotted fuchsia;}
img:not([alt]) {border: 5px solid red;}
img:not([title]) {outline: 5px solid fuchsia;}
table[summary=""] {outline: 3px solid red;}
table:not([summary]) {outline: 5px solid red;}
th {border: 2px solid red;}
th[scope="col"], th[scope="row"] {border: none;}
a[href]:not([title]) {border: 5px solid red;}
a[title=""] {outline: 3px dotted red;}
a[href=""] {background: fuchsia;} */

#header { position:relative;}
#socialButtons { position:relative; right:-37px; top: 60px;}
#socialButtons #plusContain, #socialButtons #likeContain { float:right; clear:none; margin-right: 10px;}