hide/* HTML5 ✰ Boilerplate */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
body{font:13px/1.231 sans-serif;*font-size:small;}
select,input,textarea,button{font:99% sans-serif;}
pre,code,kbd,samp{font-family:monospace,sans-serif;}
body,select,input,textarea{color:#444;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
html{overflow-y:scroll;}
a:hover,a:active{outline:none;}
a,a:active,a:visited{color:#607890;}
a:hover,a:focus,a:active{color:#036;}
ul,ol{margin-left:1.8em;}
ol{list-style-type:decimal;}
nav ul,nav li{margin:0;}
small{font-size:85%;}
strong,th{font-weight:bold;}
td,td img{vertical-align:top;}
sub{vertical-align:sub;font-size:smaller;}
sup{vertical-align:super;font-size:smaller;}
pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;}
textarea{overflow:auto;}
.ie6 legend,.ie7 legend{margin-left:-7px;}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
.ie6 input{vertical-align:text-bottom;}
label,input[type=button],input[type=submit],button{cursor:pointer;}
button,input,select,textarea{margin:0;}
input:valid,textarea:valid{}
input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red;}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid{background-color:#f0dddd;}
::-moz-selection{background:#ffcb05;color:#3d3d3d;text-shadow:none;}
::selection{background:#ffcb05;color:#3d3d3d;text-shadow:none;}
a:link{-webkit-tap-highlight-color:#ffcb05;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
/* Primary Styles
Author:Patrick Slawinski
*/
body{background-color:#dad5b8;font-family:verdana,arial,helvetica,sans-serif;color:#6e6c5e;}
h1,h2,h3{font-family:'Yanone Kaffeesatz',verdana,arial,helvetica,sans-serif;font-weight:normal;}
h2{font-size:3.4em;}
h3{font-size:2.4em;clear:both;}
h4{font-size:1.2em;font-weight:bold;margin-bottom:4px;}
.hide_text{text-indent:-9999px;font-size:1px;}
/* skip nav */
.skip a{display:block;position:absolute;left:-10000px;top:auto;width:100%;height:3em;font-weight:bold;text-align:center;font-size:1.5em;color:#3d3d3d;}
.skip a:active,.skip a:focus{background:#dad5b8;position:static;width:auto;height:auto;padding:1em;margin:auto;}
.ie7 h2{font-size:2em;}
.ie7 h3{font-size:1.6em;}
.ie7 ul.navigation li{margin:0;float:left;font-size:2em;text-transform:uppercase;}
.ie7 .content.moh h2{font-size:1.1em;}
.ie7 .content.moh h3{font-size:1.5em;margin-top:10px;}
/*Header/Nav Stuff*/
.header{position:relative;background-color:#6e6c5e;height:45px;width:100%;margin-bottom:63px;}
.ie6 .header.sub{background-image:url('http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/ie6_header_bg.gif');background-repeat:repeat-x;margin-bottom:0;}
.header.home .header_content{overflow:hidden;}
.header.home{height:400px;margin-bottom:0;}
.header_content{position:relative;width:940px;margin:0 auto;}
h1.logo_home{background-image:url('http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/ranger_logo_big.png');width:355px;height:175px;position:relative;z-index:2;top:225px;left:0;margin:0;padding:0;line-height:0;background-repeat:no-repeat;float:left;}
.header.home .header_content{height:400px;}
.header.sub .header_content{height:45px;}
h1.logo_sub{background-color:#6e6c5e;background-image:url('http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/ranger_logo_small.png');width:296px;height:112px;z-index:2;margin:0;padding:0;line-height:0;background-repeat:no-repeat;display:block;}
.ie6 h1.logo_sub{position:relative;top:1px;}
a.logo_link{display:block;position:absolute;z-index:3;top:17px;left:89px;height:85px;width:195px;}
ul.navigation{position:absolute;right:0;z-index:2;list-style-type:none;margin:0;padding:0;display:block;overflow:hidden;}
ul.navigation li{margin:0;float:left;font-family:'Yanone Kaffeesatz',verdana,arial,helvetica,sans-serif;font-size:2.4em;text-transform:uppercase;}
ul.navigation li a{text-decoration:none;display:block;}
ul.topnav{height:45px;top:0;background:#6e6c5e;background:rgba(110,108,94,0.6);}
ul.topnav li{list-style-type:none;height:45px;}
ul.topnav li:hover,ul.topnav li:focus,ul.topnav li:active{background-color:#fffbe4;color:#37362f;}
ul.topnav li a,ul.topnav li a:visited{padding:2px 15px 7px 15px;height:36px;text-decoration:none;color:#fffbe4;float:left;}
ul.topnav li:hover a,ul.topnav li:focus a,ul.topnav li:active a{background-color:#fffbe4;color:#37362f;}
ul.topnav li a:hover,ul.topnav li a:focus,ul.topnav li a:active{background-color:#fffbe4;color:#37362f;}
ul.topnav li.best_ranger{background:#37362f;background:rgba(0,0,0,0.5);}
ul.topnav li.best_ranger a{color:#ffcc00;}
ul.topnav li.best_ranger:hover,ul.topnav li.best_ranger:focus,ul.topnav li.best_ranger:active{background-color:#ffcc00;}
ul.topnav li.best_ranger a:hover,ul.topnav li.best_ranger a:focus,ul.topnav li.best_ranger a:active{background-color:#ffcc00;color:#37362f;}
ul.topnav li.current{background-image:url('http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/current.png');background-position:center bottom;background-repeat:no-repeat;}
ul.topnav li.current a:hover,ul.topnav li.current a:focus,ul.topnav li.current a:active{background-image:url('http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/current.png');background-position:center bottom;background-repeat:no-repeat;}
ul.subnav{top:60px;height:46px;background-color:#fffbe4;}
ul.subnav li a,ul.subnav li a:visited{border:#37362f 3px solid;height:33px;padding:0px 15px 7px 15px;color:#37362f;float:left;}
.ie6 ul.subnav,{height:49px;}
.ie6 ul.subnav li a,.ie6 ul.subnav li a:visited{padding-bottom:4px;}
ul.subnav li a:hover,ul.subnav li a:focus,ul.subnav li a:active{background-color:#ffcc00;}
ul.subnav li.current a,ul.subnav li.current a:visited,ul.subnav li.current a:hover,ul.subnav li.current a:focus,ul.subnav li.current a:active{background-color:#37362f;color:#ffcc00;}
.header .star a{position:absolute;background-image:url('http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/army_star.png');width:69px;height:86px;display:block;top:15px;left:15px;z-index:2;}
/*General main content stuff*/
.main{width:940px;margin:0 auto;padding:20px 0 20px 0;overflow:hidden;}
.left{float:left;clear:left;}
.right{float:right;clear:right;}
.left_col{width:550px;}
.right_col{width:310px;}
.content{margin:0 0 20px 0;padding:5px 15px 10px 15px;position:relative;}
.content p{margin:3px 0 7px 0;}
.content.left.light p{line-height:1.4em;font-size:1.1em;}
.light{background-color:#fffbe4;color:#6e6c5e;}
.light a,.light a:visited{color:#6e6c5e;font-weight:bold;text-decoration:none;}
.light a:hover,.light a:focus,.light a:active{color:#37362f;}
.dark{background-color:#6e6c5e;color:#fffbe4;}
.dark a,.dark a:visited{color:#fffbe4;text-decoration:none;font-weight:bold;}
.dark a:hover,.content.dark a:focus,.content.dark a:active{color:#ffcc00;}
.content ul{list-style-type:none;margin-bottom:10px;}
.content.left_col ul li{margin-bottom:4px;}
.content p img.right{margin-left:15px;margin-bottom:5px;}
.content.right img{margin:5px 0 10px 0;}
/*Home page*/

.content.left.dark p { font-size:1em; line-height:1.3em; }
.content.beret { padding:3px 15px 3px 3px; width:532px; margin:5px 0 5px 0;}
.ie6 .content.beret,.ie7 .content.beret { padding-bottom:0; }
.ie6 .content.beret img,.ie7 .content.beret img { margin-bottom:-3px; }
.content.beret img { margin-right:10px; }
.content.beret h3 { clear:none; margin-top:3px; }
.content.creed p { font-size:0.9em; line-height:1.4em; }
.content.moh { background-color:#2e4a80; color:#fffbe4; padding:3px 3px 3px 15px; width:322px; position:relative; }
.content.moh h2 { font-size:2em; padding:0; margin:7px 0 -3px 0; color:#fffbe4; }
.content.moh a, .content.moh a:visited, .content.moh a:hover, .content.moh a:focus, .content.moh a:active { color:#fffbe4; text-decoration:none; }
.content.moh a:focus { color:#fffbe4; text-decoration:underline; }
.content.moh h3 { clear:none; color:#fffbe4; }
.content.moh a img { margin:0; }
.join { background-color:#37362f; }
.join a { text-decoration:none; }
.join a h3,.join a:visited h3 { font-size: 2.1em; color:#fffbe4; margin-top:5px; }
.join a:hover h3,.join a:focus h3,.join a:active h3 { color:#ffcc00; }
.ie6 .join a h3,.ie6 .join a:visited h3 { font-size: 2em; }
.ie7 .join a h3,.ie7 .join a:visited h3 { font-size: 2em; }

/*Heritage page*/
.history img{margin-bottom:3px;}
.history .image{padding:3px;text-align:center;font-size:0.8em;width:200px;margin-bottom:10px;margin-top:3px;overflow:hidden;}
.history .image.wide{width:300px;}
.history .image.right{margin-left:15px;}
.history .image.left{margin-right:15px;}
.engagements ul{margin-left:0;}
.engagements ul li{margin:0 0 3px 0;}
.engagements ul li ul{margin:2px 0 3px 15px;font-size:0.9em;}
/*Best Ranger Competition page*/
.loc_info p{margin-bottom:4px;font-size:0.9em;}
.loc_info{margin-bottom:10px;display:block;}
#images{position:absolute;left:0;top:0;z-index:1;}
.competition img{margin:-5px -15px 8px -15px;}
.competition h2{position:relative;top:-71px;left:-15px;height:60px;background:#fffbe4;background:rgba(255,251,228,0.7);margin:0;margin-bottom:-60px;padding:2px 15px 0 15px;float:left;}
.schedule ul{width:190px;list-style-type:none;float:left;margin-top:2px;font-size:0.9em;}
.schedule ul.time{width:90px;}
.schedule ul li{margin-bottom:5px;}
.schedule h2{margin-bottom:5px;}
.schedule h3{font-size:1.2em;font-family:verdana,arial,helvetica,sans-serif;margin-bottom:3px;display:block;overflow:hidden;width:500px;}
a.site-background{background-image:url("http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/site_link.png");background-position:center center;background-repeat:no-repeat;width:271px;height:62px;border:2px solid #FFFBE4;padding-left:16px;padding-right:17px;padding-top:8px;padding-bottom:6px;display:block;}
a.site-background:hover{border:2px solid #FFCC00;}
a.fb-background{background-image:url("http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/fb_link.png");background-position:center center;background-repeat:no-repeat;width:261px;height:48px;padding-left:22px;padding-right:23px;padding-top:16px;padding-bottom:12px;border:2px solid #FFFBE4;display:block;}
a.fb-background:hover{border:2px solid #FFCC00;}
/*Best Ranger Teams page*/
h3.sort{font-size:1.2em;font-family:verdana,helvetica,arial,sans-serif;}
ul#filter{margin:5px 0 30px 0;}
ul#filter li{float:left;margin:0;padding:2px 4px 2px 4px;font-size:0.95em;line-height:0.9em;}
ul#filter li p{margin:0;padding:0 2px 0 2px;font-size:0.95em;line-height:0.9em;}
ul#filter li.current{background-color:#6e6c5e;}
ul#filter li.current a{color:#fffbe4;}
.team_box{overflow:hidden;margin:10px 0 5px 0;position:relative;width:100%;height:146px;}
.team_box img.portrait{margin:3px;}
.team_box .left,.team_box .right{clear:none;}
.team_box h3{width:308px;height:41px;text-align:center;margin-top:9px;}
.team_box h3{position:relative;top:-102px;margin-bottom:-102px;}
.content .team_box p{width:260px;}
.content .team_box p.right{text-align:right;}
.content .team_box p.division{font-size:0.85em;margin-top:-2px;margin-bottom:0px;}
.content .team_box p.name{font-size:1em;font-weight:bold;margin:8px 0 0 0;}
.team_box img.patch{width:34px;height:34px;}
.team_box img.portrait{width:115px;height:140px;}
.team_info{position:relative;left:121px;width:311px;}
.s1{position:relative;top:-144px;margin-bottom:-144px;}
.s1 img.patch{margin:7px 5px 0 3px;}
.s2{position:relative;top:-93px;margin-bottom:-93px;right:3px;}
.s2 img.patch{margin:9px 3px 0 5px;}
.ie6 .s1{position:absolute;top:-143px;left:0px;}
.ie6 .s2{position:absolute;top:-50px;right:3px;}
.winners img.patch{margin:0 3px 5px 0;}
.winners p.name{font-weight:bold;margin:2px 0;}
.winners p.division{font-size:0.9em;margin:0;}
.winners img.patchLarge{margin:0 3px 0 0;}
.winners p.name2{font-weight:bold;margin:12px 0;}
.rankings ul{margin:5px 0 10px 0;font-size:0.9em;line-height:1.3em;}
.rankings ul li{margin-bottom:5px;}
.rankings p{font-size:0.95em;}
.results p.place{float:left;margin:0 !important;}
.results p.name{padding-left:25px;margin-bottom:2px !important;}
.results p.division{padding-bottom:7px;padding-left:25px;}
/* 2012 Teams */
.team_info2{height:122px;overflow:hidden;padding:12px;width:405px;}
.team_box2{height:146px;overflow:hidden;position:relative;width:100%;margin:10px 0 5px 0;}
.team_box2 img.portrait{margin:3px;}
.team_box2 h3{height:41px;text-align:center;width:405px;}
.content .team_box2 p{width:192px;}
.content .team_box2 p.right{text-align:right;}
.content .team_box2 p.division{font-size:0.85em;margin-top:-2px;margin-bottom:0px;}
.content .team_box2 p.name{font-size:1em;font-weight:bold;margin:8px 0 0 0;}
.competitor1,.competitor2{float:left;width:202px;}
/*News+Media Page*/
.storyBlock{border-bottom:1px solid #dad5b8;overflow:hidden;margin:10px 0 10px 0;padding:0 0 10px 0;}
.ie6 .storyBlock{height:106px;}
.storyBlock h3{font-family:verdana,arial,helvetica,sans-serif;font-size:1.1em;width:383px;float:right;margin-bottom:0;}
.content.left .storyBlock p{font-size:0.95em;line-height:1.35em;width:383px;float:right;margin-bottom:5px;}
.storyBlock a img{border:3px solid #6e6c5e;float:left;}
.storyBlock a img:hover,.storyBlock a img:focus,.storyBlock a img:active{border:3px solid #37362f;}
#archives{text-align:center;margin-bottom:5px;}
#archives a{display:block;padding:10px 0 10px 0;width:100%;}
#archives a:hover,#archives a:focus,#archives a:active{background-color:#37362f;color:#ffcc00;text-decoration:none;}
.video h2{margin-bottom:10px;}
.video{padding-bottom:15px;}
.resources{font-size:0.95em;}
/*Twitter Widget*/
#twitter_link{text-align:center;width:100%;display:block;padding:8px 0 5px 0;}
.twtr-tweet{border-top:1px solid #dad5b8;margin-top:-1px;}
.twtr-hd,.twtr-ft{display:none;}
/*Slideshow*/
#awesomeSlideshow{padding:5px 0 0 0;letter-spacing:0em;width:550px;}
.ss-content{clear:both;}
#controls{width:550px;}
.ss-controls{float:left;}
.nav-controls{float:right;}
.nav-controls a{padding:0 5px;}
.slideshow-container{position:relative;clear:both;float:left;height:415px;overflow:hidden;}
#slideshow{position:relative;}
div.slideshow span.image-wrapper{position:absolute;top:0;width:550px;height:366px;}
div.slideshow span.image-wrapper img{max-height:100%;display:block;margin:0 auto;}
.ie6 div.slideshow span.image-wrapper img{height:100%;}
.ie6 div.slideshow span.image-wrapper img,.ie7 div.slideshow span.image-wrapper img{margin-top:15px;}
div.navigation-container{position:relative;height:80px;}
#caption{position:absolute;top:0;z-index:1000;opacity:0.8;}
.ie6 #caption,.ie7 #caption{top:15px;}
.photo-index{display:none;}
span.image-caption{display:block;position:absolute;background:#37362f;width:550px;font-size:0.9em;line-height:1.3em;}
.caption{padding:10px;display:none;}
.content #thumbs ul.thumbs{margin:0;padding:0;list-style:none;width:550px;position:relative;overflow:hidden;height:80px;}
ul.thumbs li{float:left;}
ul.thumbs li img{margin:0 3px;border:2px solid #37362f;height:66px;}
ul.thumbs li img:hover,ul.thumbs li img:focus,ul.thumbs li img:active{border:2px solid #fffbe4;}
ul.thumbs li.selected img{border:2px solid #fffbe4;}
#thumbs{position:relative;}
#thumbs a.pageLink{background:url('http://usarmy.vo.llnwd.net/e2/rv5_images/ranger/main/slideshow-arrows.gif');display:block;width:37px;height:37px;position:absolute;z-index:150;}
#thumbs a.next{background-position:-47px 0;top:18px;right:-10px;}
#thumbs a.next:hover,#thumbs a.next:focus,#thumbs a.next:active{background-position:-47px -43px;}
#thumbs a.next:active{top:18px;}
#thumbs a.prev{background-position:0 0;top:18px;left:-10px;}
#thumbs a.prev:hover,#thumbs a.prev:focus,#thumbs a.prev:active{background-position:0 -43px;}
#thumbs a.prev:active{top:18px;}
.clearfix:before,.clearfix:after{content:".";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;display:inline-block;}
/*Ranger School*/
.benning-more,#benning-button-less,.mountain-more,#mountain-button-less,.florida-more,#florida-button-less{display:none;}
.ranger-hr{border:none;background-color:#DAD5B8;color:#DAD5B8;height:1px;}
/*Social Widget CSS*/
#addThis{padding:0;width:580px;}
#addThis h2{display:none;}
#addThis ul{display:block;float:left;list-style:none outside none;margin:5px 1px 5px 3px;font-size:0.9em;}
#addThis li{float:left;width:95px;margin:2px 0;padding:0;overflow:hidden;}
#addThis li:hover,#addThis li:focus,#addThis li:active{background:#fffbe4;}
#addThis li:hover a,#addThis li:focus a,#addThis li:active a{color:#6e6c5e;}
#addThis li a{color:#fffbe4;text-decoration:none;font-weight:normal;padding-top:1px;}
.ie6 #addThis ul{padding:0 0 5px 0;}
.ie6 .share_sprite .textLink{margin-left:10px;}
.ie7 #addThis{padding-bottom:10px;}
.ie7 #addThis ul li{padding:0 0 5px 0;}
.share_sprite .textLink{float:left;margin-left:20px;width:95px;display:block;}
.share_sprite{display:inline;float:left;height:15px;width:16px;margin:4px 1px;}
.share_sprite .textLink:hover,.share_sprite .textLink:focus,.share_sprite .textLink:active{color:#6e6c5e;}
.facebook{background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat;}
.twitter{background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat;}
.googleplus{background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat;}
.pinterest{background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat;}
.stumbleupon{background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat;}
.reddit{background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat;}
.linkedin{background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat;}
.all{background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat;}
.share_sprite .textLink:hover,.share_sprite .textLink:focus,.share_sprite .textLink:active{cursor:pointer;}
.SocialMediaIndex{width:150px;float:left;padding-left:15px;margin-top:-120px;margin-left:770px;z-index:2;position:relative;}
.SocialMedia{width:150px;float:left;padding-left:15px;margin-top:-100px;margin-left:290px;}
.facebookLikeArticle{float:left;padding-left:10px;width:54px;}
.googlePlus{float:left;width:60px;padding-top:2px;}
@media print{*{background:transparent !important;color:#444 !important;text-shadow:none !important;}
a,a:visited{color:#444 !important;text-decoration:underline;}
a:after{content:" (" attr(href) ")";}
abbr:after{content:" (" attr(title) ")";}
.ir a:after{content:"";}
pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr,img{page-break-inside:avoid;}
@page{margin:0.5cm;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
